* {
    margin: 0;
    padding: 0;
    /*font-family: "Cormorant Infant", sans-serif;*/
    /*font-family: "Alumni Sans Pinstripe", sans-serif;*/
    font-family: "Cormorant Infant", sans-serif;


}

body {
    -webkit-text-size-adjust: 100%;
    color: #fff;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.hid {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 3s ease-out;
}


.show {
    opacity: 1;
    transform: translateY(0);
}
.music-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

/* Анимированные круги */
.circle {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(101, 198, 232, 0.5);
    opacity: 0;
    animation: pulse 1.5s infinite ease-out;
}

.circle:nth-child(2) {
    animation-delay: 0.5s;
}

.circle:nth-child(3) {
    animation-delay: 1s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.music-btn {
    position: relative;
    width: 50px;
    height: 50px;
    background: #5ad4ee;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 99999999;
}

.music-btn:hover {
    background: #5ad4ee;
}



.invite {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}







.name, .invite-name {
    opacity: 0;
    transform: scale(0.8);
    filter: blur(10px);
    animation: fadeInScale 1s ease-out forwards;
}

/* Задержки для последовательного появления */
.name {
    animation-delay: 0.3s;
}

.invite-name.one {
    animation-delay: 0.6s;
}

.invite-name.two {
    animation-delay: 0.9s;
}

/* Анимация плавного появления с середины */
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
        filter: blur(10px);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

.people {
    background-color: #3e5984;

}
.name-people span {
    font-family: "League Script", sans-serif;
    font-weight: normal;
    margin-top: 20px;
    font-size: 90px;


}
.people .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.name-people {
    font-size: 180px;
    line-height: 0.8;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Poiret One", sans-serif;

}

.invite {
    padding: 0 0 100px 0;
    background-color: #3e5984;
    /*background-color: #f0f8ff;*/
}
.invite .container {

}
.name {
    color: #fff;
    font-size: 350px;
    font-family: "Book Antiqua", sans-serif;
}
.invite .text {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    width: max-content;
}
.invite-name {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 30px;
}
.photo-line {
    width: 100%;
    height: 300px;
    background-color: #152d62;
}
.photo {
    position: relative;
    padding: 300px 0;
    background-color: #3e5984;

}
.photo-one {
    position: absolute;
    top: 130px;
    left: -85px;
}
.photo-one .polaroid{
    position: relative;
    width: 600px;
    rotate: 346deg;
    z-index: 2;


}

.photo-one span {
    position: absolute;
    top: 79%;
    left: 48%;
    z-index: 3;
    rotate: 346deg;
    font-family: "Marck Script", sans-serif;
    font-weight: normal;
    font-size: 30px;

}
.foto {
    position: absolute;
    top: 48%;
    left: 47%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.foto img {

    height: 613px; /* Высота контейнера */
    object-fit: cover;
    object-position: top; /* Обрезка сверху */
    rotate: 346deg;
    clip-path: inset( 75px 0 30px 0 ); /* Обрежет 50px сверху */
}
.photo-two {
    position: absolute;
    top: 120px;
    right: 0;
    display: grid;
    width: 320px;
    grid-template-columns: 1fr; /* Одна колонка */
    grid-auto-rows: 200px; /* Высота каждой строки 200px */
    gap: 0; /* Отступы между изображениями */
    justify-items: center; /* Выравниваем по центру */
    border: 3px solid white;
    z-index: 2;
}

.photo-two img {
    width: 100%; /* Чтобы картинки адаптировались */
    height: 100%; /* Растягиваем на всю строку */
    max-width: 400px; /* Ограничение ширины */
    object-fit: cover; /* Обрезаем фото, чтобы оно влезло */
    border: 3px solid white;
}

/*.dear, .location-title, .program-title, .dresscode-title, .wishes-title,*/
/*.organizer-title, .presence-title {*/
/*    margin-bottom: 30px;*/
/*}*/
/* .location .banquet, .presence .presence-text {*/
/*    padding-bottom: 30px;*/
/*    border-bottom: 1px solid;*/
/*    border-image-source: linear-gradient(to right, transparent, #000, transparent);*/
/*    border-image-slice: 1;*/
/*}*/
.invite-name.one {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right, transparent,  #fff, transparent);
    border-image-slice: 1;
}
.main .text, .organizer-text {
    padding-bottom: 30px;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(to right, transparent, #fff, transparent);
    border-image-slice: 1;
}

.main {
    background-color: #3e5984;
    padding-bottom: 100px;
    border-bottom: 2px solid #fff;
}

.dear {
    font-size: 70px;
    text-align: center;
    font-family: "Poiret One", sans-serif;
}

.no-fonts {
    text-align: center;
    font-size: 42px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-info span {
    font-family: "Marck Script", sans-serif;
    font-weight: normal;
    font-size: 70px;
    text-align: center;
    display: block;
    margin-bottom: 30px;
}

.save {
    font-size: 36px;
    text-align: center;

}

/*.text-right {*/
/*    display: flex;*/
/*    align-items: flex-end;*/
/*    flex-direction: column;*/
/*}*/
/*.main-info .text-right .text-right-one {*/
/*    font-family: "Great Vibes", sans-serif;*/
/*}*/
/*.main-info .text-right .text-right-two {*/
/*    font-family: "Book Antiqua", sans-serif;*/
/*    font-size: 30px;*/
/*    margin-top: -15px;*/
/*    font-weight: bold;*/
/*}*/

.location, .program, .dresscode, .wishes, .presence {
    padding: 100px 0 100px 0;
    background-color: #3e5984;
    border-bottom: 2px solid #fff;


}
.location, .dresscode, .wishes {
    background-color: #fff;
    color: #3e5984;
}
.location-title, .program-title, .dresscode-title, .wishes-title, .organizer-title,
.presence-title {
    text-align: center;
    font-family: "Great Vibes", sans-serif;
    font-size: 85px;
}
.location-info {
    text-align: center;
    font-size: 60px;
}
.location-address a {
    font-size: 30px;
    text-decoration: none;
    outline: none;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}
.location-address a:hover {
    color: #8c8c8c;
    display: inline-block;
    cursor: pointer;

}




.program .container {
    position: relative;

}
.program-wed {
    position: absolute;
    top: 40%;
    left: -21%;
    rotate: 270deg;
    font-family: "Book Antiqua", sans-serif;
    text-transform: uppercase;
    font-size: 85px;
    color: white;
}
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.event {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 85%;
    font-size: 40px;
    gap: 20px;

}
.first {
    display: flex;
    gap: 20px;
    align-items: center;
}
.first svg {
    width: 60px;
    height: 60px;
}
.first .time {
    font-weight: bold;
}


.dresscode .container {
    /*position: relative;*/

}
.dresscode {
    position: relative;
}
.wishes {
    padding-top: 90px;
    padding-bottom: 100px;
}

.dresscode-info {
    text-align: center;
    font-size: 40px;
}
.dresscode-info-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.dresscode-info-block {
    width: 150px;
    height: 80px;
}
.dresscode-info-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.dresscode-info-block.second img {
    filter: brightness(1.3);
}
/*.dresscode-info-block.first  {*/
/*    background-color: #b5d0e1;*/
/*}*/
/*.dresscode-info-block.second  {*/
/*    background-color: #7d9ec1;*/

/*}*/

/*.dresscode-info-block.third  {*/
/*    background-color: #6898bc;*/
/*}*/
/*.dresscode-info-block.five  {*/
/*    background-color: #4c6486;*/
/*}*/
/*.dresscode-info-block.six  {*/
/*    background-color: #cad1d7;*/
/*}*/

/*.dresscode-info-block.four  {*/
/*    background-color: #dad9de;*/
/*}*/



.wishes .container {
    position: relative;

}
.wishes-wed {
    position: absolute;
    top: 40%;
    left: -22%;
    rotate: 270deg;
    font-family: "Book Antiqua", sans-serif;
    text-transform: uppercase;
    font-size: 85px;
    color: white;
}

.wishes-text {
    text-align: center;
    font-size: 40px;
}


.presence {
    padding-bottom: 50px;
}
.presence .container {
    position: relative;

}

.presence-text {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
.wedding-form * {
    box-sizing: border-box;
}
.wedding-form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    font-size: 30px;
    font-family: "Cormorant Infant", sans-serif;

    fieldset {
        margin: 0 0 15px 0;
        padding: 0;
        border: none;
    }

    legend {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    label {
        display: block;
        margin: 5px 0;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #fff;
        border-radius: 5px;
        font-size: 16px;
    }
    .wedding-form input[type="radio"],
    .wedding-form input[type="checkbox"],
    textarea {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    textarea {
        min-height: 100px;
    }

    button {
        -webkit-appearance: none; /* Убирает дефолтные стили в Safari */
        -moz-appearance: none; /* Для Firefox */
        appearance: none; /* Общий сброс */
        background: transparent;
        width: 100%;
        padding: 10px;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;

        &:hover {
            background: #9bc5ec;
            border: 1px solid black;
        }
        &:focus {
            outline: none; /* Убирает синюю рамку при фокусе */
        }
    }
}

.timout {
    background-color: #3e5984;
    padding: 50px 0;
}
.timout-title {
    font-size: 55px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
}
#countdown {
    display: flex;
    justify-content: center;
    gap: 0px;
}

.time-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 15px;
    text-align: center;

}

.time-box span {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
}

.time-box p {
    margin: 5px 0 0;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: bold;
}



